*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    background-color: #1a3390;
    justify-content: space-between;
    height: 55px;
}
ul{
    display: flex;
}

li {
    list-style: none;
    width: 160px;
    padding: 15px;
}

.block1{
    padding: 15px;
}

input{
    width: 117px;
    border-radius: 8px;
    padding-left: 10px;
    height: 20px;
    border: none;
}
a{
    color: white;
    text-decoration: none;
    width: 12px;
    font-size: 1.2rem;
}

a:hover{
    text-decoration: underline;
    color: cyan;
    font-weight: bold;
}
/* container section */

.container{
    border: none;
    box-shadow: 0px 0px 8px grey;
    width: 50%;
    height: 220px;
    margin: 60px auto;
    text-align: center;
}
h1{
    margin-top: 30px;
}

.date{
    padding: 40px;
}